.contributor-card {
    width: 30%;
}

.contributor-card-content {
    display: flex;
    flex-direction: column;
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}