.login-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}